{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home/css/logo.css' %}">
{% endblock %}

{% block content %}
<main class="intro-section text-center">

    <a href="{% url 'home' %}" class="logo-container" >
        <span class="logo-text">PI</span>
        <span class="pixel-logo">X</span>
        <span class="logo-text">EL</span>
    </a>
    <h1 class="welcome-title mt-4">Welcome</h1>
    <p class="description mb-4">
        A <b class="text-gradient">modern and stylish clothing store</b> crafted with creativity and code.<br>
        Discover the <b  class="text-gradient">future of fashion</b>, one pixel at a time.
    </p>
    <a href="{% url 'products_list' %}" class="cta-button">Start Shopping</a>
</main>
{% endblock %}


