
.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  color: rgb(255, 115, 206) !important; 
  gap: 5px; 
  color: inherit !important;
  outline: none;
  all: unset;
  display: inline-block;
}

/*  PI and EL */
.logo-text {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 12px;
  padding: 0.5em 1em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff; 
  font-weight: bold;
  display: inline-block; 
}

/*the X */
.pixel-logo {
 background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 12px;
  padding: 0.5em 1em;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff; 
  font-weight: bold;
  display: inline-block; 
}

/* animation for X, zoom + rebote */
@keyframes xEntrance {
  0% {
    opacity: 0;
    transform: translateY(60px) scale(0.5) rotate(-10deg);
    filter: blur(6px);
  }
  60% {
    opacity: 1;
    transform: translateY(-15px) scale(1.2) rotate(5deg);
    filter: blur(0);
  }
  80% {
    transform: translateY(8px) scale(0.9) rotate(-3deg);
  }
  100% {
    transform: translateY(0) scale(1) rotate(0deg);
  }
}

/* Opcional: efect hover in the X */
.pixel-logo:hover {
  color: #ffffff;
  transition: all 0.3s ease;
}

/* introduction */

/* center text */
.intro-section {
  text-align: center;
  padding: 100px 20px;
  color: #fff;
  min-height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.welcome-title {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.highlight {
  color: #ff0055;
  text-shadow: 0 0 10px #ff0055;
}

.description {
  font-size: 1.2rem;
  color: #cccccc;
  max-width: 600px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.cta-button {
  display: inline-block;
  background-color: #f3f3f3;
  color: #000;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.cta-button:hover {
  background-color:#ff97c9 ;
  color: #ffffff
}

/* changes in logo-container */


.logo-container:hover,
.logo-container:focus,
.logo-container:active {
  text-decoration: none !important;
  color: inherit !important;
  outline: none;
}

