body, html {
  background: #43074a;
  background: radial-gradient(circle, rgb(181, 23, 158) 0%, rgb(86, 11, 173)  100%) !important;
  color:  #ff97c9!important;
  font-family: 'Urbanist', sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main.flex-fill {
  flex: 1;
}

.px-navbar {
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #ff97c9;
}

.logo-font {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

/* nav-link */

.nav-link {
  color: #ff97c9;
}

.nav-link:hover {
  color:  #ecbcfd!important;
  transition: color 0.2s;
}

.shop-now-button {
  background-color: rgb(255, 134, 223) ;
  color: #80095c;
  border: none;
  font-weight: 600;
}

.shop-now-button:hover {
  background-color:#80095c ;
}

.fas  {
  color: #ff97c9;
}

/* Dropdown menu*/

.dropdown-menu {
  color: #ff97c9;
  background: rgba(255, 255, 255, 0.15) !important; 
  border-radius: 16px !important;
  backdrop-filter: blur(10px)!important ; 
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important; 
}

.dropdown-item:hover {
  color: #ff97c9;
  background: rgba(255, 255, 255, 0.15) !important; 
  border-radius: 16px !important;
  backdrop-filter: blur(10px)!important ; 
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important; 
}

/* Cards items */

.glass-card {
  background: rgba(255, 255, 255, 0.15) !important; 
  border-radius: 16px !important;
  backdrop-filter: blur(10px)!important ; 
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important; 
  color: white !important; 
  transition: transform 0.3s ease !important;
}

.glass-card:hover {
  transform: scale(1.02) !important;
}

.card-img-top {
  width: 100% !important;
  height: 350px !important;
  object-fit: cover !important;
  border-radius: 16px
}

/* btn card */

.btn, .btn_search {
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.15) !important; 
  border-radius: 16px !important;
  backdrop-filter: blur(10px)!important ; 
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important; 
  color: white !important; 
  transition: transform 0.3s ease !important;
}

.btn:hover {
  transform: scale(1.30) !important;
  border-radius: 100px !important;
  
  z-index: +2;
}

footer {
background: rgba(255, 255, 255, 0.27);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

/* social icons */

.social-icons a {
  display: inline-block;
  margin-right: 15px;
  font-size: 20px;
  color: #c0c7cf; /* Color claro para fondo oscuro */
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #ffc107; /* Amarillo brillante en hover */
  transform: scale(1.2);
}








