body {
  background: #43074a;
  background: radial-gradient(circle, rgba(67, 7, 74, 1) 0%, rgb(65, 38, 17) 100%);
  color: #a07e7e;
  font-family: 'Urbanist', sans-serif;
  margin-top: 80px;
}

.px-navbar {
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #ff97c9;
}

.logo-font {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav-link:hover {
  color: rgb(255, 134, 223) !important;
  transition: color 0.2s;
}

.shop-now-button {
  background-color: rgb(255, 134, 223) ;
  color: #80095c;
  border: none;
  font-weight: 600;
}

.shop-now-button:hover {
  background-color:#80095c ;
}

.fas  {
  color: #ff97c9;
}

.dropdown-menu {
  background: #43074a;
  color: #ff97c9;
}

.dropdown-item {
  background: #43074a;
 
}

.dropdown-item:hover {
  background: #d35ee0;
 
}

/* Cards items */

.card-img-top {
  width: 100% !important;
  height: 350px !important;
  object-fit: cover !important;
}



