
/* Toast */

#toast-container div.toast-item {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: #ff97c9;
    font-family: 'Urbanist', sans-serif;
     border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    max-width: 350px;
    font-size: 14px;
    z-index: 1000;
}