<footer class="text-white pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">

            <!-- Company Info -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Pixel Clothing Shop</h5>
                <p>Leading the way in sustainable and fashionable textiles. Crafted with care, worn with pride.</p>
            </div>

            <!-- Products -->
            <div class="col-md-3  col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Products</h5>
                <ul class="list-unstyled">
                    {% for category in categories %}
                    <li><a class="text-white" href="{% url 'products_list' %}?category={{ category.name }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Useful links -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
                <p><a href="{% url 'profile' %}" class="text-white" style="text-decoration: none;">Your Account</a></p>
                <p><a href="{% url 'view_bag' %}" class="text-white" style="text-decoration: none;">Shipping Info</a></p>
                <p><a href="{% url 'checkout' %}" class="text-white" style="text-decoration: none;">Chekout</a></p>
                <p><a href="{% url 'faqs' %}" class="text-white" style="text-decoration: none;">FAQs</a></p>
	        </div>

            <!-- Contact -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                <p><i class="fas fa-home mr-3"></i> 123 Fashion Street, London, UK</p>
                <p><i class="fas fa-envelope mr-3"></i> info@pixelclothing.com</p>
                <p><i class="fas fa-phone mr-3"></i> +44 123 456 789</p>
                <p><i class="fas fa-print mr-3"></i> +44 123 456 780</p>
            
            
                <!-- Social Media Icons -->
                <div class="social-icons mt-3">
                    <a href="https://www.facebook.com/pixelclothing" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://www.instagram.com/pixelclothing" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/pixelclothing" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://www.tiktok.com/@pixelclothing" target="_blank">
                        <i class="fab fa-tiktok"></i>
                    </a>
                </div>
            </div>
            </div>
            </div>

        <!-- Footer Bottom -->
        <div class="row d-flex justify-content-center mt-4">
            <div class="col-md-8 col-lg-8">
                <p class="text-center">
                    © 2025 Pixel Clothing Shop — All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>
