<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'products_list' %}">Shop</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="">About</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link text-white dropdown-toggle" href="#" id="userMenu" role="button" data-toggle="dropdown">
      <i class="fas fa-user"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right bg-dark border-0">
      {% if request.user.is_authenticated %}
        <a class="dropdown-item text-white" href="">My Profile</a>
        <a class="dropdown-item text-white" href="">Logout</a>
      {% else %}
        <a class="dropdown-item text-white" href="">Login</a>
        <a class="dropdown-item text-white" href="">Register</a>
      {% endif %}
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="{% url 'view_bag' %}">
      <i class="fas fa-shopping-bag"></i>
      {% if grand_total %}
        <span>${{ grand_total|floatformat:2 }}</span>
      {% else %}
        <span>$0.00</span>
      {% endif %}
    </a>
  </li>
</ul>

