{% load static %}

<link rel="stylesheet" href="{% static 'css/slide-AD-2.css' %}">
<script src="{% static 'js/slide-AD-2.js' %}"></script>


<!-- Slide -->
  
  <div class="slider-container">
  <div class="slider-track" id="advertsTrack">
    <!-- Woman 1 -->
    <div class="slide">
      <img src="https://images.pexels.com/photos/2463270/pexels-photo-2463270.jpeg" href="{% url 'products_list' %}" alt="Woman wearing a bucket hat">
      <div class="adverts-text">
        <div class="adverts-logo"> <span class="logo-text">PI</span><span class="logo-x">X</span><span class="logo-text">EL</span> </div> Urban Style
      </div>
    </div>

    <!-- Woman 2 -->
    <div class="slide">
      <img src="https://images.pexels.com/photos/10774236/pexels-photo-10774236.jpeg" alt="Stylish woman sitting on a bench">
      <div class="adverts-text">
        <div class="adverts-logo"> <span class="logo-text">PI</span><span class="logo-x">X</span><span class="logo-text">EL</span> </div> Boho Chic
      </div>
    </div>

    <!-- Woman 3 -->
    <div class="slide">
      <img src="https://images.pexels.com/photos/794432/pexels-photo-794432.jpeg" alt="Woman in gray jacket and blue jeans">
      <div class="adverts-text">
        <div class="adverts-logo"> <span class="logo-text">PI</span><span class="logo-x">X</span><span class="logo-text">EL</span> </div> in Summer Vibes
      </div>
    </div>

    <!-- Man 1 -->
    <div class="slide">
      <img src="https://images.pexels.com/photos/3760274/pexels-photo-3760274.jpeg" alt="Man sitting on a black metal bench under the sun">
      <div class="adverts-text">
        <div class="adverts-logo"> <span class="logo-text">PI</span><span class="logo-x">X</span><span class="logo-text">EL</span> </div> Gentleman Look
      </div>
    </div>

    <!-- Man 2 -->
    <div class="slide">
      <img src="https://images.pexels.com/photos/18863706/pexels-photo-18863706.jpeg" alt="Man in black jacket">
      <div class="adverts-text">
        <div class="adverts-logo"> <span class="logo-text">PI</span><span class="logo-x">X</span><span class="logo-text">EL</span> </div> Modern Style
      </div>
    </div>
  </div>
</div>
